@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-sans scroll-smooth box-border snap-mandatory;
        scrollbar-width: thin;
        scrollbar-color: #CBACF9 transparent;
        scroll-snap-type: mandatory;
        scroll-snap-align: start;
        scrollbar-3dlight-color: #CBACF9;
        scrollbar-highlight-color: #CBACF9;
        scrollbar-face-color: #CBACF9;
        scrollbar-track-color: transparent;
        scrollbar-arrow-color: #CBACF9;
        scrollbar-shadow-color: #CBACF9;
        scrollbar-darkshadow-color: #CBACF9;
        scrollbar-gutter: stable;
    }
}

@layer components {
    .scrollbar {
        @apply w-full h-1 bg-rose-400 fixed top-0 scale-0 origin-left ease-linear duration-100 z-[999] pointer-events-none;
        animation-name: scrollbar;
        animation-timeline: scroll();
    }

    @keyframes scrollbar {
        to {
            @apply scale-100;
        }
    }
}